<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  +Reimbursement Request
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">New Reimbursement Request Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form #reimbForm="ngForm" (ngSubmit)="onSubmit()">

          {{ reimbForm.value | json }}
          <hr />
          {{ newReimbModel | json }}

          <div class="form-group">
            <label for="amount">Amount</label>
            <input name="amount" type="number" min="1" class="form-control" id="amount" placeholder="$0.00" [(ngModel)] = "newReimbModel.amount">
          </div>
      
          <div class="form-group">
            <label for="type">Type</label>
            <select name="type" class="form-control" id="type" [(ngModel)] = "newReimbModel.type">
              <option>Lodging</option>
              <option>Travel</option>
              <option>Food</option>
              <option>Other</option>
            </select>
          </div>
      
          <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="description" rows="3" [(ngModel)] = "newReimbModel.description"></textarea>
          </div>
      
          <div class="form-group">
              <label for="receipt">Upload Receipt</label>
              <input name="receipt" type="file" class="form-control-file" id="receipt" [(ngModel)] = "newReimbModel.receipt">
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Submit Reimbursement</button>
            <!-- data-dismiss="modal" -->
          </div>
        </form>

      </div> 
    </div>
  </div>
</div>


