/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Source Sans Pro' ;
}

h1{
    font-family: 'Montserrat';
    font-size: 2rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
