<h1>Reimbursements</h1>
<table class="table col-10">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Reimbursement ID</th>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Submitted</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Lodging</td>
        <td>$100</td>
        <td>Pending</td>
        <td>2/24/20</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Other</td>
        <td>$268</td>
        <td>Approved</td>
        <td>1/02/20</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Travel</td>
        <td>$576</td>
        <td>Denied</td>
        <td>10/24/19</td>
    </tbody>
  </table>
  
