<div class="container col-11">
  <h2 class = "title">Reimbursements</h2>
  <app-reimb-form *ngIf="roleId == 2"></app-reimb-form>
</div>
  <table class="table col-11 ">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Reimb. ID</th>
        <th scope="col">Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Submitted</th>
        <th scope="col">Resolved</th>
        <th scope="col">Description</th>
        <th scope="col">Receipt</th>
        <th *ngIf="roleId == 1">Approval</th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor = "let reimb of userReimbs">
        <th id="rID" scope="row">{{ reimb.reimbID }}</th>
        <td>{{ reimb.typeID | type }}</td>
        <td>{{ reimb.amount | currency }}</td>
        <td class="status">{{ reimb.statusID | status }}</td>
        <td>{{ reimb.submitted | date:'shortDate' }}</td>
        <td>{{ reimb.resolved | date:'shortDate' }}</td>
        <td>{{ reimb.description }}</td>
        <td><button type="button" class="btn btn-primary btn-sm">View Reciept</button></td>
        <td *ngIf="roleId == 1 && reimb.statusID == 1">
          <form #adminForm="ngForm" (ngSubmit)="onSubmit()">
            
           <div class="form-check">  
              <input class="form-check-input" type="radio" name="statusID" id="approve" value="2" [(ngModel)]="updateModel.statusID">     
              <label class="form-check-label" for="approve">
                Approve
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="statusID" id="deny" value="3" [(ngModel)]="updateModel.statusID">
              <label class="form-check-label" for="deny">
                Deny
              </label>
            </div>
        

            <button type="submit" class="btn btn-primary btn-sm">Update</button>
          </form>
        </td>
      </tr>

      
    </tbody>
  </table>